body{
margin:0;
background:black;
color:white;
font-family:Arial;
overflow:hidden;
text-align:center;
}

.center{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.hidden{
display:none;
}

#countdown{
font-size:120px;
}

#title{
font-size:60px;
color:pink;
}

#bigHeart{
font-size:240px;
animation:beat 1s infinite;
margin-top:20px;
}

@keyframes beat{
0%{transform:scale(1);}
50%{transform:scale(1.3);}
100%{transform:scale(1);}
}

.buttons{
display:flex;
gap:20px;
justify-content:center;
margin-top:20px;
}

button{
padding:15px 40px;
font-size:20px;
border:none;
border-radius:10px;
background:pink;
color:black;
cursor:pointer;
}

#rain{
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
pointer-events:none;
}

.heart{
position:absolute;
color:pink;
animation:fall linear infinite;
}

@keyframes fall{
0%{
transform:translateY(-10vh);
opacity:1;
}
100%{
transform:translateY(100vh);
opacity:0;
}
}

#bookContainer{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

/* ukuran buku lebih besar */

#book{
width:320px;
height:420px;
}

.page{
background:white;
padding:20px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
border-radius:10px;
}

.cover{
font-size:32px;
color:#ff4da6;
}

.page img{
width:300px;
height:360px;
object-fit:cover;
border-radius:10px;
margin-bottom:10px;
}

.caption{
font-size:16px;
color:black;
font-family:cursive;
}

/* PHOTO LOVE */

#photoHeart{
position:absolute;
bottom:80px;
left:50%;
transform:translateX(-50%);
width:340px;
height:300px;
position:relative;
}

#photoHeart img{
position:absolute;
width:75px;
height:75px;
border-radius:12px;
object-fit:cover;
animation:pop 1s ease;
}

@keyframes pop{
0%{transform:scale(0);}
100%{transform:scale(1);}
}

#finalQuestion{
position:absolute;
bottom:140px;
width:100%;
font-size:30px;
font-family:"Times New Roman",serif;
color:pink;
}

#typing{
position:absolute;
bottom:60px;
width:100%;
font-size:26px;
}
@keyframes flyIn{
0%{
transform:scale(0) translateY(-200px);
opacity:0;
}
100%{
transform:scale(1) translateY(0);
opacity:1;
}
}

#photoHeart img{
position:absolute;
width:75px;
height:75px;
border-radius:12px;
object-fit:cover;
animation:flyIn 1s ease forwards;
}
@media (min-width:1024px){

#photoHeart{
bottom:150px;
}

}
